/* Career Opportunities: */

#search,
#search form {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

#search h2 {
  color: rgba(13, 13, 83, 0.813);
}

#search form {
  margin: 10px;
}

#search form label {
  padding: 10px;
  font-size: larger;
}

#submit {
  margin-left: 20px;
  color: rgb(0, 75, 141);
}

#search form input {
  width: 200px;
  background-color: rgba(113, 196, 223, 0.249);
  border-radius: 10px 10px;
}

#search form select {
  width: 100px;
  font-size: medium;
  border: 2px solid rgb(54, 54, 54);
  border-radius: 10px 10px;
  background-color: rgba(113, 196, 223, 0.249);
}

.section2 {
  width: 700px;
  height: fit-content;
  margin: 20px;
  border: 2px solid rgb(126, 123, 123);
  box-shadow: 3px 3px 15px rgb(117, 112, 112);
  border-radius: 15px 15px;
  background-color: white;
  padding: 10px;
}

.section3 {
  height: fit-content;
  margin: 20px;
  border: 2px solid rgb(126, 123, 123);
  box-shadow: 3px 3px 15px rgb(117, 112, 112);
  border-radius: 15px 15px;
  background-color: white;
  padding: 10px;
}

#content {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.profile {
  color: rgba(97, 96, 96, 0.747);
}

.post_image {
  display: flex;
  flex-direction: row;
}

.post_image img {
  width: 50px;
  height: 50px;
  margin-right: 10px;
}

#post_section {
  display: flex;
  flex-direction: row;
}

#post_section li {
  padding: 5px;
  list-style-type: none;
}

.post {
  margin-left: 5px;
  margin-right: 5px;
  border: 1px solid rgb(86, 85, 85);
  border-radius: 5px 5px;
  padding: 5px;
}

@media screen and (max-width: 992px) {
  #content {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  #search,
  #search form {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}
