@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");

body {
  background-color: aliceblue;
}
.grid-container {
  display: grid;
  grid-gap: 10px;
  font-family: "Open Sans", sans-serif, Arial;
}

.grid-item-1 {
  grid-column-start: 1;
  grid-column-end: 3;
  display: flex;
  justify-content: center;
  align-content: center;
  font-size: 3rem;
  color: rgba(250, 57, 39, 0.974);
}

.grid-item-2 {
  grid-column: span 2;
  font-size: 1.2rem;
  /* background-color: #333; */
  color: black;
  border: 2px solid rgb(126, 123, 123);
  box-shadow: 3px 3px 15px rgb(117, 112, 112);
  border-radius: 15px 15px;
  padding: 10px;
  background: linear-gradient(to right, #ffb6c1, #87cefa);
  color: #333333;
}

.grid-item-4,
.grid-item-5,
.grid-item-6 {
  grid-column: span 2;
  display: flex;
  justify-content: space-around;
  /* align-items: flex-start; */
  border: 2px solid rgb(126, 123, 123);
  box-shadow: 3px 3px 15px rgb(117, 112, 112);
  border-radius: 15px 15px;
  padding: 10px;
  background: linear-gradient(to right, #2c3e50, #3498db);
  color: #ffffff;
}

.grid-item-4-content,
.grid-item-6-content {
  flex-basis: 60%;

  align-self: center;
  /* align-self: flex-end; */
}

.grid-item-5-content {
  flex-basis: 60%;
  order: -1;
  align-self: center;
  /* align-self: flex-end; */
}

.grid-item-4 img,
.grid-item-5 img,
.grid-item-6 img {
  max-width: 30%;
  height: auto;
  /* flex-shrink: 0; */
  border: 6px solid black;
  flex-basis: 25%;
  /* justify-content: space-around; */
}

.grid-item-7 {
  grid-column: span 2;
  display: flex;
  border: 2px solid rgb(126, 123, 123);
  box-shadow: 3px 3px 15px rgb(117, 112, 112);
  border-radius: 15px 15px;
  padding: 10px;
  background: linear-gradient(to right, #ffb6c1, #87cefa);
  color: #333333;
}

.grid7-content {
  margin: 0 25%;
  width: 60%;
  justify-content: center;
  align-self: center;
  font-size: 1rem;
  /* color: white; */
}

@media screen and (width <= 450px) {
  .grid-item-2 {
    font-size: 0.8rem;
  }

  .grid7-content {
    font-size: 0.8rem;
    margin: 0;
    width: 100%;
  }

  .grid-item-4,
  .grid-item-5,
  .grid-item-6 {
    flex-direction: column;
    justify-content: space-around;
    font-size: 0.8rem;
  }

  .grid-item-5-content {
    order: 0;
  }

  .grid-item-4 img,
  .grid-item-5 img,
  .grid-item-6 img {
    max-width: 100%;
    height: auto;
    border: 6px solid black;
    flex-basis: 25%;
  }
}
