body {
  background: linear-gradient(to bottom, white, rgba(195, 225, 232, 0.863));
  background-color: rgba(223, 237, 238, 255);
}

html {
  font-family: Arial, Helvetica, sans-serif;
}

main {
  display: flex;
  justify-content: center;
}

.section1 {
  width: 200px;
  height: fit-content;
  margin: 20px;
  border: 2px solid rgb(126, 123, 123);
  box-shadow: 3px 3px 15px rgb(117, 112, 112);
  border-radius: 15px 15px;
  background-color: white;
  padding: 10px;
}

.section1 ul {
  padding: 0px;
}
.section1 ul li {
  list-style-type: none;
  padding: 5px;
}

.section2 {
  width: 500px;
  height: fit-content;
  margin: 20px;
  border: 2px solid rgb(126, 123, 123);
  box-shadow: 3px 3px 15px rgb(117, 112, 112);
  border-radius: 15px 15px;
  background-color: white;
  padding: 10px;
}

.section3 {
  width: 350px;
  height: fit-content;
  margin: 20px;
  border: 2px solid rgb(126, 123, 123);
  box-shadow: 3px 3px 15px rgb(117, 112, 112);
  border-radius: 15px 15px;
  background-color: white;
  padding: 10px;
}

.profile {
  color: rgba(97, 96, 96, 0.747);
}

.post_image {
  display: flex;
  flex-direction: row;
}

.post_image img {
  width: 50px;
  height: 50px;
  margin-right: 10px;
}

#post_section {
  display: flex;
  flex-direction: row;
}

#post_section li {
  padding: 0px 5px 5px 5px;
  list-style-type: none;
}

#post_text {
  margin-top: 20px;
  margin-left: 30px;
  border: 1px solid rgb(86, 85, 85);
  border-radius: 5px 5px;
  padding: 5px;
}

#comment_here {
  margin-top: 20px;
  padding: 10px;
  /* border: 1px solid rgb(86, 85, 85);
  border-radius: 5px 5px; */
}

.comment {
  display: flex;
  flex-direction: row;
  border: 1px solid rgb(86, 85, 85);
  border-radius: 5px 5px;
}

.comment input {
  background-color: rgba(254, 254, 254, 0);
  border: 1px solid rgba(255, 255, 255, 0);
  /* padding-left: 1000px; */
  width: 1990px;
}

.post {
  display: flex;
  flex-direction: column;
}

.post h3 {
  padding-left: 25px;
}

.post input {
  border: 1px solid rgb(86, 85, 85);
  border-radius: 5px 5px;
  width: 280px;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 10px;
  height: 50px;
}

.post_button {
  padding-top: 20px;
  padding-left: 27px;
  height: 25px;
}

@media screen and (max-width: 992px) {
  main {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .section1 {
    width: 500px;
    height: fit-content;
    margin: 20px;
    border: 2px solid rgb(126, 123, 123);
    box-shadow: 3px 3px 15px rgb(117, 112, 112);
    border-radius: 15px 15px;
    background-color: white;
    padding: 10px;
  }
}
